body {
    background-color:  grey;
    color: white;
    /* removed to allow responsive features of Bootstrap to work
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 100px;
    margin-left: 100px;
    */
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 150px;
    margin-left: 150px;
}
h1 {
    color: navy;
    margin-left: 20px;
}
ul {
    color: black;
}
li {
    color: black;
}
li a {
    display: block;
    color: white;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

li a:active {
  background-color: grey;
}

.nav-pills > li.active > a{
    background-color: grey;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active a {
    color: grey;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: purple;
}

.purplePage{
  background-color: purple;
  /* removing, so responsive features of Bootstrap can be utilized
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  */
}
.twitterPage{
  background-color: black;
  padding-top: 20px;
  padding-right: 45px;
  padding-bottom: 20px;
  padding-left: 20px;
}
.description, {
    display: inline-block;
    width: 30%;
}
.proj_image {
    display: inline-block;
    width: 70%;
}
.right {
    float: right;
    width: 30%;
}
.left {
    float: left;
    width: 65%;
}
.address {
    float: right;
    text-align: left;
    width: 30%;
    color: white;
    font-family: verdana;
    font-size: 150%;
}
.map {
    float: left;
    width: 65%;
}
.leftLogo{
    float: left;
    width: 30%;
}
.rightLogo {
    padding-top: 20px;
    padding-right: 80px;
    margin: auto;
    text-align: center;
    width: 100%;
    color: black;
    font-family: verdana;
    font-size: 250%;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {

    height: 100%
    max-height: 200px;
    width: 100%;
    height: auto;
}
